[Desktop Entry]
Type=Application
Name=WolfViewer
Exec=wolfviewer
Comment=Client for virtual worlds
Icon=wolfviewer_icon
Categories=Development;
Terminal=true
